.my-cards,
.opponent-cards,
.stack {
    display: flex;
    overflow-x: auto;
    padding: 0;
    list-style: none;
}

.deck,
.stack {
    position: relative;
    height: 240px;
    min-width: 140px;
    display: flex;
    overflow-x: auto;
    padding: 0;
    list-style: none;

    .card {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.deck {
    .card {
        background-color: $black;

        &__nr,
        &__icon {
            display: none;
        }
    }
}

.stack {
    .card {
        cursor: default;

        &:last-child {
            z-index: 1;
        }
    }
}

.opponent-cards {
    .card {
        background-color: $black;
        pointer-events: none;

        &__nr,
        &__icon {
            display: none;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 240px;
    min-width: 140px;
    border: 5px solid $white;
    border-radius: 5px;
    color: $white;
    cursor: pointer;

    &__nr {
        font-size: 72px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 2px 2px 1px rgba($black, .5);

        &--top {
            font-size: 20px;
            align-self: flex-start;
            margin-bottom: auto;
        }

        &--bottom {
            font-size: 20px;
            align-self: flex-end;
            margin-top: auto;
        }
    }

    &__icon {
        width: 80px;
        height: 80px;

        &--top {
            align-self: flex-start;
            margin-bottom: auto;
            width: 30px;
            height: 30px;
        }

        &--bottom {
            align-self: flex-end;
            margin-top: auto;
            width: 30px;
            height: 30px;
        }
    }

    &:not(:last-child) {
        margin-right: 15px;
    }

    &--red {
        background-color: $red;
    }

    &--yellow {
        background-color: $yellow;
    }

    &--green {
        background-color: $green;
    }

    &--blue {
        background-color: $blue;
    }

    &--black {
        background-color: $black;
    }
}