.players {
    list-style: none;
    padding: 0;

    .player {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.player {
    &__avatars {
        padding: 0;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        grid-column-gap: 15px;
        justify-content: center;
    }

    &__avatar {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-items: center;
        border: 4px solid $white;
        transition: .2s ease;
        display: grid;
        grid-template-rows: 2fr 1fr;
        justify-items: center;

        &.is-active {
            transform: scale(1.15);
            border-color: $green;
        }

        p {
            margin-bottom: 0;
        }
    }
}