.btn {
    display: inline-block;
    border-radius: 3px;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 500;
    transition: .1s ease;
    box-shadow: none;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        padding: 10px 40px;
        font-size: 20px;
    }

    &--1 {
        background-color: $white;

        &:hover,
        &:focus {
            transform: translateY(-1px);
            box-shadow: $shadow2;
        }
    }

    &--uno {
        position: relative;
        left: 50%;
        margin-top: 15px;
        transform: translateX(-50%);
        transition: .4s ease;

        &.danger {
            background-color: $red;
            color: $white;
        }
    }
}